[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
wandb = "*"
pandas = "*"
pyyaml = "*"
opencc-python-reimplemented = "*"
matplotlib = "*"
scipy = "*"
pydub = "*"

[dev-packages]

[requires]
python_version = "3.7"
